/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
    
}

/* Navbar links */
.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Avant Garde, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/* Screen 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a{ 
        width: 25%; /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
    
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

/* Navbar home button */
.Navbar a.active { /* This targets tha a element on the navbar with the "active" class */
background-color: darkgray;
}

/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/
/* Formatting for background video */
#BearIntheWoods.mp4 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;

}

/* Screen that are 576px and smaller will not display the backgrround video */
@media screen and (max-width: 576px) {
    #BearInTheWoods.mp4 {
        display: none;
    }
}

/* Text over the video */
.BearInTheWooods.mp4 {
    background: rgba(0, 0, 0, .5);
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5,75s;
    animation: moveVideoText 5.75s;
}


video {
    min-width: 100vw;
    min-height: 100vw;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw}
    to {top 0vw}
}

/***** END OF VIDEO STYLING *****/

/***** TABLE STYLING *****/
* { /* The asterisk is a universal selector*/
box-sizing: border-box ;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 10px;
    height: 400px;
    background-color: #f2f2f2;
}

/* Screen 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #4d4d4d;
}

/* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form while keeping the rest of the formatting from Column_2 or Column_2 */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

/* This inserts something afyter the content of selected elements (in this case elements with class "Row") */
.Row::after {
    content: "";
    display: table;
    clear: both;
}

/***** END OF TABLE STYLING *****/

/***** CONTACT FORM STYLING *****/
/* Input[type=text] targets all text input sections of the contact form */
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold;

}

/* Hover effects for input boxes */
input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset;
}

/* Submit button */
input[Type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extar Bold;

}

/* Hover effect for submit button */
input[type=submit]:hover {
    background-color: white;
    color: black;
    transform: scale(1.5);
    transition: transform 1.5s;
}

/* Form element */
form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: "Trebuchet MS", Optima;
}

/***** END OF THE CONTACT STYLING *****/